@use '../util' as *;

.card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;

    .card__subtitle {

    }

    .card__count {

    }

    .card__change {

    }
}